/*----------------------------------------------------------------*\
                       #CUSTOM PROPERTY
\*----------------------------------------------------------------*/

:root {
  /*----------------------------------------------------------------*\
                              #COLORS
\*----------------------------------------------------------------*/

  --maximum-yellow-red: hsl(37, 100%, 68%);
  --royal-blue-dark: hsl(231, 61%, 22%);
  --silver-chalice: hsl(0, 0%, 70%);
  --oxford-blue: hsl(231, 100%, 8%);
  --bittersweet: hsl(2, 100%, 69%);
  --french-rose: hsl(342, 90%, 61%);
  --davys-gray: hsl(180, 3%, 28%);
  --cool-gray: hsl(240, 13%, 62%);
  --platinum: hsl(0, 0%, 92%);
  --white-2: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --rythm: hsl(240, 9%, 53%);

  /*----------------------------------------------------------------*\
                            #TYPOGRAPHY
\*----------------------------------------------------------------*/

  --ff-poppins: "Poppins", sans-sarif;

  --fs-1: 32px;
  --fs-2: 26px;
  --fs-3: 22px;
  --fs-4: 18px;
  --fs-5: 15px;
  --fs-6: 14px;

  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;

  /*----------------------------------------------------------------*\
                              #TRANSITION
\*----------------------------------------------------------------*/
  --transition: 0.25s ease-in-out;
}

/*----------------------------------------------------------------*\
                              #RESET
\*----------------------------------------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
button,
span,
ion-icon,
lable,
input,
textarea {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
}

textarea,
input {
  font: inherit;
  background: none;
  border: none;
  width: 100%;
}

:is(input, textarea):focus {
  outline: none;
}

:focus {
  outline-offset: 4px;
}

html {
  font-family: var(--ff-poppins);
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 50%);
}

/*----------------------------------------------------------------*\
                        #REUSED COMPONENTS
\*----------------------------------------------------------------*/

.container {
  padding: 0 15px;
}

h1,
h2,
h3 {
  font-weight: var(--fw-600);
  line-height: 1.2;
  text-transform: capitalize;
}

h1 {
  color: var(--oxford-blue);
  font-size: var(--fs-1);
}

h2 {
  font-size: var(--fs-2);
}

h3 {
  color: var(--oxford-blue);
  font-size: var(--fs-3);
}

h4 {
  color: var(--royal-blue-dark);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
}

.btn-primary {
  background: var(--bittersweet);
  border-color: var(--bittersweet);
  color: var(--white);
  outline: none;
}

.btn {
  font-size: var(--fs-6);
  text-transform: uppercase;
  font-weight: var(--fw-600);
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 6px;
}

.btn-primary:is(:hover, :focus) {
  --bittersweet: hsl(2, 90%, 65%);
}

.btn-secondry:is(:hover, :focus) {
  background: hsl(0, 0, 100%, 0.2);
  outline: none;
}

/*----------------------------------------------------------------*\
                              #HEADER
\*----------------------------------------------------------------*/

header {
  position: relative;
  padding: 30px 0px;
  z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu-btn {
  font-size: 35px;
  padding: 5px;
}

.navbar {
  position: absolute;
  top: calc(100% - 15px);
  left: 15px;
  right: 15px;
  background: var(--maximum-yellow-red);
  max-height: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--transition);
  transform-origin: top;
  overflow: hidden;
}

.navbar.active {
  visibility: visible;
  pointer-events: all;
  max-height: 300px;
}

.navbar-list {
  padding: 10px;
}

.navbar-item:not(:last-child) {
  border-bottom: 1px solid hsla(0, 0, 100%, 0.2);
}

.navbar-link {
  font-size: var(--fs-6);
  color: var(--royal-blue-dark);
  font-weight: var(--fw-600);
  padding: 15px 10px;
  opacity: 0;
  transition: opacity var(--transition);
}

.navbar-link:is(:hover, :focus) {
  color: var(--french-rose);
  text-decoration: underline;
  text-underline-offset: 4px;
}

.navbar.active .navbar-link {
  transition-delay: 0.2s;
  opacity: 1;
}

.navbar .btn-primary {
  display: none;
}

/*----------------------------------------------------------------*\
                              #HERO
\*----------------------------------------------------------------*/

.hero {
  position: relative;
  padding: 260px 0 140px;
  z-index: 1;
}

.hero-container {
  text-align: center;
}

.hero-title,
.hero-text {
  margin-bottom: 40px;
}

.hero-text {
  font-size: var(--fs-4);
  color: var(--oxford-blue);
}

.hero .btn-primary {
  margin-inline: auto;
}

.hero-banner {
  display: none;
}

.shape-content {
  position: absolute;
  width: 100%;
  top: -40px;
  z-index: -1;
  opacity: 0.9;
}

.blur-background {
  background-color: rgba(168, 168, 168, 0.1);
  padding: 0px 5px;
}

/*----------------------------------------------------------------*\
                              #ABOUT
\*----------------------------------------------------------------*/

.about {
  position: relative;
  z-index: 1;
  padding: 120px 0;
  text-align: center;
  background-color: var(--french-rose);
}

.about-top {
  margin-bottom: 40px;
}

.about .h2 {
  color: var(--white);
}

.about-top .setion-title {
  margin-bottom: 20px;
}

.about-top .section-text {
  color: var(--white);
  font-size: var(--fs-4);
  margin-bottom: 60px;
}

.about-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.about-card {
  background: var(--white);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.1);
}

.card-icon {
  color: var(--bittersweet);
  font-size: 45px;
  width: max-content;
  margin-inline: auto;
  margin-bottom: 15px;
}

.about-card .card-title {
  margin-bottom: 15px;
}

.about-card .card-text {
  color: var(--davys-gray);
}

.about-bottom .section-title {
  font-size: var(--fs-2);
  margin-bottom: 40px;
  color: var(--white);
}
.about-bottom .section-text {
  margin-bottom: 40px;
  color: var(--white);
}

.about-bottom .btn-secondry {
  margin-inline: auto;
  color: var(--white);
}

/*----------------------------------------------------------------*\
                              #FEATURE
\*----------------------------------------------------------------*/

.feature {
  position: relative;
  z-index: 1;
  padding: 120px 0;
  text-align: center;
}

.feature .section-title {
  margin-bottom: 20px;
  color: var(--oxford-blue);
  font-size: var(--fs-2);
}

.feature .section-text {
  margin-bottom: 40px;
  color: var(--silver-chalice);
  font-size: var(--fs-4);
}

.feature-item-banner {
  background-color: var(--bittersweet);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: grid;
  align-items: center;
  margin-inline: auto;
  margin-bottom: 50px;
}

.feature-item-content {
  margin-bottom: 50px;
}

.feature-item-content .item-title {
  font-size: var(--fs-2);
  margin-bottom: 20px;
}

.feature-item-content .item-text {
  color: var(--silver-chalice);
  font-size: var(--fs-4);
}

/*----------------------------------------------------------------*\
                              #CTA
\*----------------------------------------------------------------*/

.cta-card {
  background: linear-gradient(to top, var(--bittersweet) 0, var(--french-rose));
  padding: 80px 36px;
  border-radius: 20px;
  text-align: center;
}

.cta-title {
  color: var(--white);
  font-size: var(--fs-1);
  font-weight: var(--fw-600);
  line-height: 1.2;
  margin-bottom: 20px;
}

.cta-text {
  color: var(--white);
  margin-bottom: 50px;
  font-size: var(--fs-5);
}

.cta-form input[type="email"] {
  color: var(--white);
  padding: 10px 0px;
  border-bottom: 1px solid;
  margin-bottom: 30px;
}

.cta input::placeholder {
  color: inherit;
  text-align: center;
}

.cta .btn-secondry {
  color: var(--white);
  margin-inline: auto;
}

/*----------------------------------------------------------------*\
                              #CONTACT
\*----------------------------------------------------------------*/

.contact {
  padding: 120px 0px;
}

.contact-banner img {
  margin-inline: auto;
}

.contact-content {
  margin-bottom: 50px;
}

.contact-title {
  color: var(--royal-blue-dark);
  margin-bottom: 60px;
  text-align: center;
  font-weight: var(--fw-600);
}

.input-wrapper {
  margin-bottom: 50px;
}

.input-label {
  color: var(--oxford-blue);
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  margin-bottom: 10px;
}

.input-field {
  border-bottom: 1px solid var(--platinum);
  padding: 7px 0px;
  font-size: var(--fs-6);
}

.input-field::placeholder {
  color: var(--silver-chalice);
}

textarea {
  max-height: 300px;
  min-height: 100px;
  height: 100px;
  resize: vertical;
}

/*----------------------------------------------------------------*\
                              #FOOTER
\*----------------------------------------------------------------*/

footer {
  background: var(--white-2);
}

.footer-top {
  padding: 80px 0 50px;
}

.footer-brand {
  margin-bottom: 20px;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-text {
  color: var(--rythm);
  font-size: var(--fs-6);
  margin-bottom: 20px;
}

.social-list {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.social-link {
  color: var(--rythm);
  font-size: var(--fs-4);
  margin-bottom: 10px;
}

.social-link:is(:hover, :focus) {
  color: var(--french-rose);
}

.footer-link-list:not(:last-child) {
  margin-bottom: 30px;
}

.footer-link-list .link-title {
  margin-bottom: 15px;
}

.footer-link {
  color: var(--cool-gray);
  font-size: var(--fs-6);
  margin-bottom: 10px;
  max-width: 150px;
}

.footer-link:is(:hover, :focus) {
  color: var(--french-rose);
}

.footer-bottom {
  padding: 20px 15px;
  border-top: 1px solid hsla(0, 0%, 18%, 0.2);
}

.copyright {
  color: var(--cool-gray);
  text-align: center;
  font-size: var(--fs-6);
}

.copyright a {
  display: inline-block;
  color: var(--cool-gray);
}

.copyright a:is(:hover, :focus) {
  color: var(--french-rose);
}

.footer-logo img {
  margin-inline: auto;
}

/*----------------------------------------------------------------*\
                              #GO TO TOP
\*----------------------------------------------------------------*/

.go-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 5;
  width: 50px;
  height: 50px;
  background: linear-gradient(
    -45deg,
    var(--maximum-yellow-red),
    var(--french-rose)
  );
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.2);
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 22px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--transition);
}

.go-top.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

/*----------------------------------------------------------------*\
                              #RESPONSIVE
\*----------------------------------------------------------------*/

/*----------------------------------------------------------------*\
                   #RESPONSIVE FOR LARGER THAN 450PX
\*----------------------------------------------------------------*/

@media (min-width: 450px) {
  :root {
    /*
    Typography
    */
    --fs-1: 60px;
  }

  /*
    Reused componenta
    */
  .h1,
  .h2 {
    font-weight: var(--fw-700);
  }

  .btn {
    padding-block: 15px;
  }

  /*
    Header
    */
  .navbar {
    left: auto;
    width: 300px;
  }

  /*
     Hero
    */
  .hero {
    padding: 140px 0 160px;
  }

  .shape-content {
    top: 70px;
    right: 260px;
  }

  /*
    About
    */
  .about-card .card-title {
    padding-inline: 40px;
  }

  .about-bottom-banner {
    max-width: 400px;
    margin-inline: auto;
    margin-bottom: 40px;
  }

  .about-bottom-content {
    padding-inline: 50px;
  }

  /*
    Feature
    */

  .features .h2 {
    --fs-2: 32px;
  }

  /*
    CTA
    */
  .cta-title {
    --fs-1: 42px;
  }

  .cta-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
  }

  .cta input {
    margin-bottom: 0px;
  }

  .cta .btn-secondry {
    min-width: max-content;
  }

  /*
    Contact
    */
  .contact-title {
    --fs-2: 32px;
  }

  .contact-banner {
    max-width: 300px;
    margin-inline: auto;
  }
}

/*----------------------------------------------------------------*\
                   #RESPONSIVE FOR LARGER THAN 560PX
\*----------------------------------------------------------------*/

@media (min-width: 560px) {
  /*
    Reused componenta
    */
  .container {
    max-width: 550px;
    margin-inline: auto;
  }

  /*
    Header
    */
  .navbar-wrapper {
    position: relative;
  }

  .navbar {
    top: calc(100% + 15px);
    right: 0;
  }

  /*
    Hero, About
    */

  .hero-content,
  .about-bottom-content {
    text-align: left;
  }

  .hero .btn-primary,
  .about-bottom .btn-secondry {
    margin-inline: 0;
  }

  .shape-content {
    top: -150px;
    right: 0px;
  }

  /*
    Footer
    */
  .footer-brand {
    margin-bottom: 40px;
  }

  .footer-link-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/*----------------------------------------------------------------*\
                   #RESPONSIVE FOR LARGER THAN 768PX
\*----------------------------------------------------------------*/

@media (min-width: 768px) {
  :root {
    /*
  Typography
  */
    --fs-2: 35px;
    --fs-4: 20px;
  }

  /*
  Reused Style
  */

  .container {
    max-width: 740px;
  }

  /*
  About
  */

  .about-list {
    grid-template-columns: 1fr 1fr;
  }

  .about-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .about-card .card-title {
    padding-inline: 0;
  }

  /*
  Contact
  */

  .contact-title {
    --fs-2: 42px;
  }
}

/*----------------------------------------------------------------*\
                   #RESPONSIVE FOR LARGER THAN 1024PX
\*----------------------------------------------------------------*/

@media (min-width: 1024px) {
  /*
  Reused Style
  */
  .container {
    max-width: 950px;
  }

  /*
  Header
  */
  .navbar-menu-btn {
    display: none;
  }

  .navbar {
    max-height: unset;
    visibility: visible;
    position: static;
    width: auto;
    background: none;
    pointer-events: all;
    overflow: visible;
    display: flex;
  }

  .navbar-list {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
  }

  .navbar-link {
    opacity: 1;
    padding: 0 15px;
  }

  .navbar .btn-primary {
    display: block;
  }

  /*
  Hero
  */

  .hero-content {
    max-width: 550px;
  }

  .shape-content {
    width: 50%;
    margin-top: 150px;
    right: 200px;
  }

  /*
  About
  */
  .about-top .section-text {
    max-width: 650px;
    margin-inline: auto;
  }

  .about-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .about-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .about-bottom-banner {
    margin-bottom: 0;
    height: 330px;
  }

  .about-bottom-content {
    padding-inline: 0;
    text-align: center;
  }

  .about-bottom-content .btn-secondry {
    margin-inline: auto;
  }

  /*
  Features
  */

  .features :is(.section-title, .section-text) {
    max-width: 650px;
    margin-inline: auto;
  }

  .feature-item {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
  }

  .feature-item-banner {
    margin-inline: 0;
    margin-bottom: 0;
  }

  .feature-item-content {
    width: 50%;
    text-align: left;
  }

  .feature-item:last-child {
    flex-direction: row-reverse;
  }

  /*
  CTA
  */

  .cta-card > * {
    max-width: 550px;
    margin-inline: auto;
  }

  /*
  Contact
  */

  .contact .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  .contact-content {
    max-width: 400px;
  }

  .contact-title {
    text-align: left;
  }

  .contact-form {
    width: 50%;
  }

  /*
  Footer
  */

  .footer-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  .footer-brand,
  .footer-link-list:not(:last-child) {
    margin-bottom: 0;
  }

  .footer-link-box {
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
  }
}

/*----------------------------------------------------------------*\
                   #RESPONSIVE FOR LARGER THAN 1200PX
\*----------------------------------------------------------------*/

@media (min-width: 1200px) {
  :root {
    --fs-2: 42px;
  }

  .container {
    max-width: 1150px;
  }

  .hero .container {
    margin-top: -100px;
  }

  .hero .shape-content {
    right: 20px;
    top: -30%;
    width: 60%;
  }
  .hero .blur-background {
    border-radius: 20px;
  }
  .features .h2 {
    --fs-2: 42px;
  }

  .features :is(.section-title, .section-text) {
    max-width: 850px;
  }
}
